# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/scimagojr.csv
sent_papers.json
user_config.json
